In [1]:
import pandas as pd
import datetime
import json
import requests
import sqlite3 as lite
from pandas.io import sql
from flask import Flask, jsonify
from flask_restplus import Resource, Api

In [11]:
# app = Flask(__name__)
# #api = Api(app)


# @app.route('http://api.worldbank.org/v2/')

# class Books(Resource):
#     def get():
#         return {'key':[1,2,3]}
def return_json(url):
    headers = {'methods':'GET','Accept':'application/json'}
    response = requests.get(url,headers=headers)
    data = response.json()
    return data
indicator_id = 'NY.GDP.MKTP.CD???'
url = 'http://api.worldbank.org/v2/countries/all/indicators/'+indicator_id+'?date=2012:2017&format=json&per_page=1000'
#url = 'http://api.worldbank.org/v2/indicators'
data = return_json(url)
print(data[1][0]['indicator']['id'])
#print(data[0]['message'][0]['key'])
#df = pd.read_json(json.dumps(data[1]))


#app.run(debug=True)

NY.GDP.MKTP.CD

In [220]:
a = str(df.loc[0,'indicator'])

a = json.dumps(df.loc[0,'indicator'])
a = str(a)
y = json.loads(a)

df['indicator'] = df['indicator'].apply(lambda x: str(json.dumps(x)))
df['country'] = df['country'].apply(lambda x: str(json.dumps(x)))

In [2]:
db_name = 'z5199285.db'
table_name = '1.0.HCount.1.90usd'
conn = lite.connect(db_name)
#df.to_sql(name=table_name,con=conn)

In [71]:
c = conn.cursor()
table_name = 'NY.GDP.MKTP.CD'
query_df = f"SELECT indicator,country,date,value FROM '{table_name}'"
df_clean = pd.read_sql_query(query_df,conn)
q = df_clean.apply(lambda x: {"country":x['country'],"date":x['date'],"value":x['value']},axis=1)
#q.tolist()

0      Arab World
1      Arab World
2      Arab World
3      Arab World
4      Arab World
          ...
995    Madagascar
996        Malawi
997        Malawi
998        Malawi
999        Malawi
Length: 1000, dtype: object

In [261]:
# c = conn.cursor()
# indicator_id = '1.0.HCount.1.90usd'
# a = sql.read_sql("select * from " + "sqlite_master WHERE type='table'", conn)
# query_s = "SELECT id FROM collection_id WHERE indicator_id=?;"
# c.execute(query_s,(indicator_id,))
def collection_id(c,indicator_id):
    table_name = 'collection_id'
    query_insert = "INSERT INTO collection_id (indicator_id) VALUES (?);"
    query_s = "SELECT id FROM collection_id WHERE indicator_id=?;"
    c.execute("SELECT count(name) FROM sqlite_master WHERE type='table' AND name=?",(table_name,))
    #a = sql.read_sql("select * from collection_id", conn)
    if c.fetchone()[0] == 1:
        ##insert into a new data with indicator_id
        c.execute(query_insert,(indicator_id,))
    else:
        c.execute('''CREATE TABLE collection_id
             (id INTEGER PRIMARY KEY,
              indicator_id varchar(100)
              )''')
        c.execute(query_insert,(indicator_id,))
    c.execute(query_s,(indicator_id,))
    id_num = c.fetchall()[0][0]
    return id_num

In [267]:
id_num = collection_id(c,indicator_id)
a
sql.read_sql("select * from collection_id", conn)
query_s = "SELECT id FROM collection_id WHERE indicator_id=?;"
c.execute(query_s,(indicator_id,))
id_num = c.fetchone()
print(id_num)

(3,)

In [264]:
id_num

3

In [19]:
indicators = []
for i in range(len(data[1])):
    indicators.append(data[1][i]['indicator']['id'])

In [114]:
c.execute('''CREATE TABLE b_d
             (name_id INTEGER PRIMARY KEY,
              first_name varchar(20) NOT NULL,
              last_name varchar(20) NOT NULL)''')

In [106]:
c.execute("SELECT count(name) FROM sqlite_master WHERE type='table' AND name=?",(table_name,))
#c.execute('''SELECT count(*) FROM a''')
if c.fetchone()[0] == 1:
    print('dd')

dd

In [216]:
a = sql.read_sql("select * from " + "sqlite_master WHERE type='table'", conn)
a[a['name']==table_name]

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [152]:
c.execute("DROP TABLE collection_id")
c.execute('''CREATE TABLE collection_id
             (id INTEGER PRIMARY KEY AUTOINCREMENT,
              indicator_id varchar(100)
              )''')

In [163]:
e = 'collection_id'
indicator_id = "NY.GDP.MKTP.CD"
query = "INSERT INTO collection_id (indicator_id) VALUES (?);"
tuple_id = (indicator_id_1,)
c.execute(query,(indicator_id,))

In [154]:
c.execute("INSERT INTO collection_id(indicator_id) VALUES('NY.GDP.MKTP.CD')")

In [215]:
sql.read_sql("select * from collection_id",conn)

Empty DataFrame
Columns: [id, indicator_id]
Index: []

In [194]:
query_s = "SELECT id FROM collection_id WHERE indicator_id=?;"
c.execute(query_s,(indicator_id,))

In [195]:
c.fetchone()[0]

1

In [184]:
l

[(1,), (2,), (3,), (4,), (5,)]

In [207]:
str(datetime.datetime.utcnow())

'2020-03-28 00:01:06.246576'